@model PaginatedList<DIPLOMA.Models.DirectoryClients>

@{
    ViewData["Title"] = "Клиенты";
}

<h1>Клиенты</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Добавить</a>
</p>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Имя/Фамилия: <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
            <input type="submit" value="Поиск" class="btn btn-light" />
            <a asp-action="Index" class="btn btn-default">Полный список</a>
        </p>
    </div>
</form>
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Назад
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Вперед
</a>

<div class="table_scroll overflow-auto">
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["FirstName"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Имя</a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["SecondName"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Фамилия</a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["Patronymic"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Отчество</a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["ClientDate"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Дата добавления</a>
                </th>
                <th>
                    Серия паспорта
                </th>
                <th>
                    Номер паспорта
                </th>
                <th>
                    Адрес регистрации
                </th>
                <th>
                    Адрес проживания
                </th>
                <th>
                    Телефон
                </th>
                <th>
                    Email
                </th>
                <th>
                    Данные о месте работы
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.DirectoryClientsID" class="btn btn-info col-12 mb-1">Детально</a>
                        <a asp-action="Edit" asp-route-id="@item.DirectoryClientsID" class="btn btn-secondary col-12 mb-1">Изменить</a>
                        <a asp-action="Delete" asp-route-id="@item.DirectoryClientsID" class="btn btn-danger col-12">Удалить</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SecondName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Patronymic)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ClientDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PassportSerial)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PassportNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AddressRegistration)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AddressResidential)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TelephoneNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataAboutWorkPlace)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Назад
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Вперед
</a>

