@model DIPLOMA.Models.DirectoryRooms

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>DirectoryRooms</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CostPerDay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CostPerDay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberRoom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberRoom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DirectoryTypeRooms)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DirectoryTypeRooms.TypeRoom)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DirectoryCategoryRooms)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DirectoryCategoryRooms.CategoryRoom)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DirectoryStatusRooms)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DirectoryStatusRooms.StatusRoom)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="DirectoryRoomsID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
