@model DIPLOMA.Models.DirectoryRooms

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DirectoryRooms</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CostPerDay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CostPerDay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberRoom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberRoom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DirectoryTypeRooms)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DirectoryTypeRooms.TypeRoom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DirectoryCategoryRooms)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DirectoryCategoryRooms.CategoryRoom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DirectoryStatusRooms)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DirectoryStatusRooms.StatusRoom)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DirectoryRoomsID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
