@model IEnumerable<DIPLOMA.Models.DirectoryRooms>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Repairs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CostPerDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberRoom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DirectoryTypeRooms)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DirectoryCategoryRooms)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DirectoryStatusRooms)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Repairs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CostPerDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberRoom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DirectoryTypeRooms.TypeRoom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DirectoryCategoryRooms.CategoryRoom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DirectoryStatusRooms.StatusRoom)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DirectoryRoomsID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DirectoryRoomsID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DirectoryRoomsID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
